.breed__item {
  background: teal;
  box-shadow: 4px 4px orange;
  color: white;
  font-family: Montserrat;
  list-style: none;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-top: 5px;
  text-transform: uppercase;
}